*.pkl
.vscode/
*.gz
*.txt
*.csv
*.json
*.jsonline
*.lock
*.tar
*.pdf
__pycache__/
log/
checkpoint/
*.out
wandb/
*.png
png/
saved/
figure/
!requirements.txt
test.ipynb
draw/log
draw/figures
resources/llama-7b
json/
figures/
raw/
resources/